/target
/classes
/checkouts
config.edn
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.clj-kondo/
/data/
/*.log
/internal-data/
/user-data/
/.cpcache/
/kafka-log/
/zk-data/
/prod-config.edn
