{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
       org.clojure/core.async {:mvn/version "1.2.603"}
       clj-http {:mvn/version "3.10.1"}
       yada {:mvn/version "1.3.0-alpha9"}
       aleph {:mvn/version "0.4.6"}
       bidi {:mvn/version "2.1.6"}
       cheshire {:mvn/version "5.10.0"}
       mount {:mvn/version "0.1.16"}
       tick {:mvn/version "0.4.25-alpha"}
       buddy/buddy-hashers {:mvn/version "1.4.0"}
       juxt/crux-core {:mvn/version "20.05-1.8.4-alpha"}
       juxt/crux-kafka {:mvn/version "20.05-1.8.4-alpha"}
       juxt/crux-rocksdb {:mvn/version "20.05-1.8.4-alpha"}
       juxt/crux-kafka-embedded {:mvn/version "20.05-1.8.4-alpha"}}}
